/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(90deg, #112a49 0%, #516c7f 100%);
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}
